<!-- src/app/app.component.html -->
<div class="app-container">
  <!-- <header>
    <h1>7Q Word Game</h1>
    <nav>
      <a routerLink="/" routerLinkActive="active">Home</a>
      <a routerLink="/select-level" routerLinkActive="active">Select Level</a>
      <a routerLink="/game" routerLinkActive="active">Game</a>
    </nav>
  </header> -->
  <main>
    <router-outlet></router-outlet>
  </main>
</div>
  <footer class="copyright-footer">
    <p>&copy; 2024 Mann Mehta. All Rights Reserved.</p>
  </footer>